body {
    color: white;
    background-image: url("images/universe.jpg");
    background-size: cover;
    text-align: center;
    font-family: "Orbitron", sans-serif;
}

.btn {
    padding: 10px 20px;
    background: white;
    border: none;
}

/* 
Challenge:
Add the underline to the title using a <span> and a class.
*/
.underline {
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 5px;
    text-underline-offset: 10px;
}



